/*Apply CSS to ensure a visually appealing and consistent design.
Include at least 3 different styles for typography (e.g., headings, paragraphs, links).
Use CSS for layout (e.g., grid, flexbox) and responsive design (e.g., media queries).*/

/* Root and [attribute selector] variable sets */
/*main root - declare variables*/
:root {

    --1: #484c57;
    --2: #877182;
    --3: #9e9c9e;
    --4: #eb8d95;
    --5: #f5beae;
    --6: #ffeaba;
    --7: #ffff;

    --font1: ;
    --font2: ;
    --font3: ;
    --font4: ;

}

/* Placeholder sets for existing tags */
* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
img {

    width: 75px;
    height: 75px;
    object-fit: cover;

}
li {

    list-style-type: none;

}
/* Background or body set*/
.background {

    display: initial;
    background-color: var(--7);
    width: 100vw;
    height: 100vh;

}


/* Page layout and content */
.topbar {

    margin: 0;
    background-color: var(--1);
    height: 250px;
    
}

    .topbar h1 {

        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--7);

    }
    .topbar img {

        height: 100%;
        width: 100%;
        background-size: cover;

    }


/* Navbar, sticks to the top*/
.navBar {

    top: 0 ;
    position: sticky;
    background-color: var(--1);
    z-index: 1;

}
.navBar .container {

    height: inherit;
    margin: 0 5% 5% 5%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

        .navBar .menu ul{

        display: flex;
        list-style-type: none;
        align-items: center;


        }




/*Content section */

.content .container {

    display: block;
    margin: 50px;
    background-color: var(--5);

}

        .content .container div, 
        .content .container p{

            min-height: 50vh;

        }

.display {

    text-align: center;


}


/* Footer */
.footer {

    background-color: var(--1);

}
.footer .container{

    display: flex;
    align-items: center;
    justify-content: space-around;

}

    .footer .contactInfo {

        padding: 50px;

    }




/* Section utility */
/* About/logo, project/blog button, dropdown, gallery, form*/
.card {

    display: grid;
    width: 50%;
    padding: 100px;
    gap: 10px;
    background-color: var(--6);

}


.logo {

    display: flex;
    align-items: center;
    gap: 20px;

}

.projectGrid {

    display: grid;
    grid-template-columns: repeat(2, 1.5fr);
    gap: 25px;

}
    .project button{

        background: url("https://cdn.prod.website-files.com/62d84e447b4f9e7263d31e94/6557420216a456cfaef685c0_6399a4d27711a5ad2c9bf5cd_ben-sweet-2LowviVHZ-E-unsplash-1-p-1600.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 50%;

    }


        .project:hover {

            scale:1.01;
            opacity: 50%;

        }

    .blog button{

        background: url("https://cdn.prod.website-files.com/62d84e447b4f9e7263d31e94/6557420216a456cfaef685c0_6399a4d27711a5ad2c9bf5cd_ben-sweet-2LowviVHZ-E-unsplash-1-p-1600.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 40%;

    }
        .blog:hover {

            scale:1.01;
            opacity: 50%;

        }




/* general utility */
.container {

    max-height: fit-content;
    max-width: 100%;
    padding: 25px 10px;
    margin: 5px;
    gap:10px;

}

.container_small {

    max-height: fit-content;
    max-width: 90%;
    padding: 5px;
    margin: 1px;
    gap: 5px;

}


.btn {

    display: inline-block;
    text-decoration: none;
    background: var(--2);
    font-weight: 600;
    padding: 5px 25px;
    margin: 5px;
    transition: 1.5;


}

.contactbtn {

    display: inline-block;
    background-color: var(--5);
    text-decoration: none;
    font-weight: 600;
    padding: 10px 30px;
    margin: 10px;
    transition: 0.5;


}

    .btn:hover {

        display: inline-block;
        background-color: var(--3);
        opacity: 0.8;
        font-weight: 650;
        padding: 10px 25px;
        margin: 10px;
        transform: scale(1.2);
        transition: 0.5;


    }
    .contactbtn:hover {

        display: inline-block;
        background-color: var(--6);
        text-decoration: none;
        font-weight: 600;
        padding: 10px 30px;
        margin: 15px;
        transform: scale(1.1);
        transition: 0.5;

    }


/* text utility */

.text_logoHeader{

    align-self: start;
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 600;
    margin: 1px;
    width: 150px;

}
.text_mainHeader{

    font-size: 3rem;
    line-height: 1.8;
    font-weight: 600;
    margin: 40px 0 20px;

}
.text_sectionHeader {

    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;

}
.text_minorHeader{

    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}
.text_sectionText{

    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px;
}


/* Bg and alignment sets */

.text_center{

    text-align: center;
}
