/*Apply CSS to ensure a visually appealing and consistent design.
Include at least 3 different styles for typography (e.g., headings, paragraphs, links).
Use CSS for layout (e.g., grid, flexbox) and responsive design (e.g., media queries).*/

/* Root and [attribute selector] variable sets */
/*main root*/
:root {

    --placeholder-colour1: rgb(0, 43, 54);
    --placeholder-colour2: rgb(255,0,255);
    --placeholder-colour3: rgb(255,0,0);
    --placeholder-colour4: rgb(0,0,255);
    --placeholder-colour5: rgb(255,255,0);

}
/* Hover options */
[hover = True] {



}
/* Page Styling eg 'portfolio' or 'product' */


/* Placeholder sets for existing tags */
* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
img {

    width: 75px;
    height: 75px;
    object-fit: cover;

}
/* Background*/
.background {

    background-color: var(--placeholder-colour2);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden

}
/* Page layout and content */
/*Section above navbar - except homepage, which displays an image*/
/* Navbar, sticks to the top*/
.navBar {

    top: 0;
    position: sticky;
    padding: 5px;
    background-color: var(--placeholder-colour1);

}
.navBar .container {

    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

        .navBar .menu ul{

        display: flex;
        list-style-type: none;
        align-items: center;


        }



/*Content section */
.content .container {
    

    background-color: var(--placeholder-colour3);

}


/* Footer */
.footer {

    background-color: var(--placeholder-colour1);

}
.footer .container{

    display: flex;
    align-items: center;
    justify-content: space-around;

}

    .footer .contactInfo {

        padding: 50px;

    }



/*Page exclusive content */
/*Hompage --display top image*/
.homePage {

    margin: 0;
    background-color: var(--placeholder-colour1);

}

    .homePage h1 {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: red;

    }
    .homePage img {

        height: 100%;
        width: 100%;
        background-size: cover;

    }




/*Main page sections */



/* Section utility */
/* About/logo, project/blog button, dropdown, gallery, form*/
.card {

    width: 50%;
    padding: 100px;
    background-color: rgb(150, 91, 18);


}

.logo {

    display: flex;
    align-items: center;
    gap: 20px;

}

.projectGrid {

    display: grid;
    grid-template-columns: repeat(2, 1.5fr);
    gap: 30px;

}
    .project {

        background: url("https://cdn.prod.website-files.com/62d84e447b4f9e7263d31e94/6557420216a456cfaef685c0_6399a4d27711a5ad2c9bf5cd_ben-sweet-2LowviVHZ-E-unsplash-1-p-1600.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        padding: 150px;

    }

        .project:hover {

            transform: scale(1.1);

        }


/* general utility */
.container {

    max-width: 100%;
    padding: 25px;
    margin: 5px;

}

.paragraphSection {

    height: 100px;
    background: blanchedalmond;

}



.btn {

    display: inline-block;
    text-decoration: none;
    background: cadetblue;
    font-weight: 600;
    padding: 25px;
    margin: 5px;
    transition: 0.5;


}

.contactbtn {

    display: inline-block;
    background-color: rgb(12, 19, 72);
    text-decoration: none;
    font-weight: 600;
    padding: 25px;
    margin: 10px;
    transition: 0.5;


}

    .btn:hover {

        display: inline-block;
        opacity: 0.8;
        font-weight: 650;
        padding: 25px;
        transition: 0.5;


    }
    .contactbtn:hover {

        display: inline-block;
        background-color: aqua;
        text-decoration: none;
        font-weight: 600;
        padding: 25px;
        transition: 0.5;

    }


/* text utility */

.text_logoHeader{

    align-self: start;
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 600;
    margin: 15px 0 1px;
    width: 150px;

}
.text_mainHeader{

    font-size: 3rem;
    line-height: 1.8;
    font-weight: 600;
    margin: 40px 0 20px;

}
.text_sectionHeader {

    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
    background-color: antiquewhite;

}
.text_minorHeader{

    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
    background-color: antiquewhite;
}
.text_sectionText{

    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px;
    background-color: antiquewhite;
}


/* Bg and alignment sets */

.text_center{

    text-align: center;
}
